{
  "rules": {
    "no-undef": "off",
    "react-hooks/exhaustive-deps": "off"
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "modules": true,
      "experimentalObjectRestSpread": true
    }
  },
  "extends": ["plugin:react-hooks/recommended"]
}
